<h2>Paper Folding</h2>

We'll start with a simple question:

<p>What happens when you fold a piece of paper in half over and over again?</p>

<p>
Here's what happened with us.  We folded the paper in half as many times as we could (4), and got this:</p>

<%= image_tag("appreciation_1_1.png") %>

<p>
Lots of crinkles.  Is there anything interesting here?  It's hard to tell.
</p>

<p>So we decided to explore the idea systematically by folding 1 time, then 2 times, then 3 times, and so on.
</p>

<%= image_tag("appreciation_1_2.png") %>

<p>One thing we noticed is that there seem to be two kinds of fold.  One kind of looks like a peek--we'll call those "mountain" folds.  The other fold looks like a V--we'll call those "valley" folds.  Here I've tried to mark each type of fold on the photo.
</p>

<%= image_tag("appreciation_1_3.png") %>

<p>If I write an 'M' for every mountain-fold, and a 'V' for every valley-fold, I can start to look for a pattern.  Can you see one?<p>

<%= image_tag("appreciation_1_4.png") %>

<p>It really looks like there might be one, but I still couldn't see it.  We decided to think more about the paper folding itself.  Each time we fold the paper in half over its center.  So what happens if we line up the center fold in each pattern, and imagine "folding" the left half on to the right half?</p>

<%= image_tag("appreciation_1_5.png") %>

<p>Ah ha!  The left and right sides are exact opposites of each other!  "That's cool", we thought.</p>

<p>Then we got to thinking that every time we make a new fold, all the previous folds are still there.  So which folds in each pattern are the "old folds" (from the previous pattern), and which are the new ones?</p>

<p>For this we decided to fold our paper, mark all the creases with a pen, then re-fold it, and do one more.  In this photo we folded it twice, marked the V's and M's, and then re-folded it 3 times.</p>

<%= image_tag("appreciation_1_52.png") %>

<p>Ah ha!  It looks like the new folds are interwoven with the old ones.  It kind of makes sense if you think about the physical paper-folding.  (think about it!)</p>

<p>Let's color all the old folds in each pattern red (and leave the new ones black).</p>

<%= image_tag("appreciation_1_6.png") %>

<p>Another new pattern!  The new folds alternate V and M.  Now we know enough to make the next pattern in the sequence without actually folding it.</p>

<p>At this point, we looked at one of the papers on our work table and noticed that all of the folds were almost making right angles, and it looked pretty cool.  "I wonder ", we thought, " what it would look like if all the folds really were right angles?"</p>

<%= image_tag("appreciation_1_7.png") %>

<p>This was kind of difficult to do with the physical paper, so we decided to draw it instead.  Each M-fold we treated like a turn to the right, and every V-fold we treated like a turn to the left</p>

<p>Here are the drawings for the first few folds.  It looks like something interesting is happening if only we could draw a few more.  This is too hard for folding real paper, but fortunately we understand now the pattern in the sequence, so we don't have to fold anymore.  We can just use the pattern to know what the next one would be, if only we could fold it.</p>

<%= image_tag("appreciation_1_8.png") %>

<p>Here's an animation that shows the first 14 folds, building up one by one.</p>

<%= image_tag("appreciation_1_9.gif") %>

<p>Ok, we admit now that we didn't make the animation.  This sequence is actually a famous one, called the Dragon sequence--and now maybe you can see why!</p>

<p>What a surprising and cool shape!  When I started by folding a piece of paper in half, I had no idea that it could possibly lead to anything like this.</p>

<p>My friend's 10-year-old daughter (who independently discovered this pattern) was curious whether the line pattern ever crosses itself as it grows.</p>

<p>Other mathematicians we found on the internet wanted to know, basically, whether they could tile their bathroom floor using this cool shape.  (This is question mathematicians ask a lot about shapes).  It turns out, the answer is yes!</p>

<%= image_tag("appreciation_1_11.png") %>

<p>And not only yes, but it turns out there are many different ways this shape can fit together with itself to tile a floor.</p>


<p>How cool!  Ok, math appreciation is over for the day.  Go do your own math!</p>