<%= stylesheet_link_tag "index" %>

<table>
<tr>  
<td><b>Problem-Solving Techniques</b></td>
<td><b>Proof Techniques</b></td>
<td><b>Math Topic Overviews</b></td></tr>
<tr>
  <td> 
  <%= link_to 'Introduction to problem solving', '/learn/problem_solving' %><br />
  <%= link_to 'Explore small examples:  Find a pattern', '/learn/explore_heuristic' %><br />
  <%= link_to 'Make the problem simpler', '/learn/simplify_heuristic' %><br />
  <%= link_to 'Work backwards', '/learn/work_backwards_heuristic' %><br />
  <%= link_to 'Find partial results', '/learn/partial_results_heuristic' %><br />
  <%= link_to 'Look at parity', '/learn/parity_heuristic' %><br />
  </td>

  <td>
  <%= link_to 'Introduction to proofs', '/learn/proofs' %><br />
  <%= link_to 'How to prove by induction', '/learn/proofs_by_induction' %><br />
  <%= link_to 'How to prove by contradiction', '/learn/proofs_by_contradiction' %><br />
  <%= link_to 'How to prove by pigeon-hole', '/learn/proofs_by_pigeonhole' %><br />
  <%= link_to 'How to prove the contrapositive', '/learn/proofs_by_contrapositive' %><br />
  </td>

  <td>
  <%= link_to 'Graph theory', '/learn/graph_theory' %><br />
  <%= link_to 'Counting (combinatorics)', '/learn/counting' %><br />
  <%= link_to 'Probability', '/learn/probability' %><br />
  <%= link_to 'Geometry', '/learn/geometry' %><br />
  <%= link_to 'Modular arithmatic', '/learn/mods' %><br />
  <%= link_to 'Logic', '/learn/logic' %><br />
  <%= link_to 'Set theory', '/learn/set_theory' %><br />
  <%= link_to 'Graphs', '/learn/graphs' %><br />
  <%= link_to 'Reccurence relations', '/learn/reccurence_relations' %><br />
  </td>
  </tr>
  <tr>
  <td>
		<b>Appreciation Zone</b><br/><br/>
		<%= link_to 'Folding a paper in half', '/learn/appreciation1' %><br />  
  </td>
  </tr>

</table>

</p>