<h1>Editing problem</h1>

<% form_for(@problem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </p>
  <p>
    <%= f.label :difficulty %><br />
    <%= f.text_field :difficulty %>
  </p>
  
  <p>
    <%= javascript_include_tag :fckeditor %>
    <%= f.label :text %><br />
    <%= fckeditor_textarea("problem", "text", :toolbarSet => 'Wombat', :width => '100%', :height => '200px') %>
  </p>
  
  <p>
	      <%= f.label :tags %><br />
	      <%= f.text_field :tag_list %>
  </p>

  <p>Enter a ruby expression below.  The user's answer will be in the variable 'answer'.
    <%= f.label :solution_test %><br />
    <%= f.text_area :solution_test %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @problem %> |
<%= link_to 'Back', problems_path %>