<h1>Listing task_set</h1>

<%= @task_set.size.to_s %> task sets:

<table>
  <tr>
  </tr>

<% @task_set.each do |task_set| %>
  <tr>
    <td> <%= task_set.name %>: </td>
    <td> <%= task_set.description %> </td>
    
    <td><%= link_to 'Show', :controller => 'task_sets', :action => 'show', :id => task_set.id %></td>
    <td>
      <%= link_to 'Edit', :controller => 'task_sets', :action => 'edit', :id => task_set.id %> |
    </td>
    <td><%= link_to 'Destroy', :controller => 'task_sets', :action => 'destroy', :id => task_set.id, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Problem Set', :controller => 'task_sets', :action => 'new'  %>